*{
    margin:0px;
    padding:0px;

}

h1{
    text-align: center;
    margin-bottom:60px;;
}
body{
    background-color:rgb(104,149,197);
}
.container{
    height:70vp;
    justify-content:center;
    align-items:center;
    display:flex;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap:1.2vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 10px;
    border:none ;
    box-shadow: 0px 0px 12px;
    font-size:35px;
    background-color: white;
}

#reset{
    margin:30px 0px 0px 725px;
    height:50px;
    width:150px;
    border-radius: 15px;
    border:none;
    box-shadow: 10px;
    font-weight: bolder;
    font-size:20px;
    background-color:darkblue;
    color:white;
    box-shadow: 130px;
    padding:1rem;

}
.msg{
    text-align: center;
    margin-bottom: 20px;
    
}
#win{
    font-size:40px;
    font-weight:900;
    
}
#new{
    height:40px;
    width:150px;
    border-radius:15px;
    border:none;
    box-shadow: 10px;
    font-size: 20px;
    color:white;
    background-color: darkmagenta;
    
    
}
.hide
{
    display:none;
}